@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.susenka{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  -webkit-animation: spin 7s linear infinite;
}
@keyframes spin {
  100%{-webkit-transform: rotate(360deg);}
}
.img{
  width: 50%;
}

body{
  background-image:url("../img/pozadí1.png");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
H1{
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;

}
#cookie:hover{
  transform: scale(1.1);
}
  
#counter{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  padding-top: 3%;
  display: flex;
  text-align: center;
  color: black;
  justify-content: center;

}
.upgrade{
 border-radius: 2%;
 border-color: black;
 padding-bottom: 1%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 2%;
 border-radius: 4%;
}
.upgrade2{
  border-radius: 2%;
  border-color: black;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 

